/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
}

/* Убираем внешние отступы */
h1,
h2,
h3,
h4,
p,
ul,
ol,
li {
  margin: 0;
}

/* Удаляем стандартные стили списков*/
ul {
  list-style: none;
}

/* Убираем лишние стили ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Общие стили картинок */
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.container {
  padding-left: 71px;
  padding-right: 71px;
}
