.backdrop {
  position: fixed;
  width: 100vw;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 2;
  // transition: all 700ms linear 0ms;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 500ms linear 500ms;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  transition: transform 500ms linear 0ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms linear 500ms;
  // transition: all 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--primary-text-color);
  z-index: 1000;
  max-height: 100vh;
  box-sizing: border-box;
  overflow: auto;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  @include mq(mobile) {
    width: 280px;
  }

  @include mq(tablet) {
    margin: auto;
    width: 618px;
  }

  @include mq(desktop) {
    width: 882px;
    left: 49.5%;
  }

  &-btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    stroke: var(--secondary-text-color);
    border: none;
    cursor: pointer;
    background-color: var(--primary-text-color);
  }

  &-btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    z-index: 10;
    cursor: pointer;
  }

  &-btn-close:focus &-btn-icon,
  &-btn-close:hover &-btn-icon {
    stroke: var(--focus-color);
  }
}

.modal-card-container {
  @include mq(mobile) {
    padding: 48px 20px 41px 20px;
  }

  @include mq(tablet) {
    padding: 42px 29px 40px 28px;
  }

  @include mq(desktop) {
    padding: 50px 62px 40px;
  }
}

.movie-modal-card {
  border-radius: 5px;

  @include mq(tablet) {
    display: flex;
  }

  @include mq(desktop) {
    display: flex;
  }
}

.modal-movie-poster {
  margin-right: auto;
  margin-left: auto;
  display: inline-block;
  border-radius: 5px;

  @include mq(mobile) {
    width: 240px;
    height: 356px;
    margin-bottom: 30px;
  }

  @include mq(tablet) {
    width: 264px;
    height: 374px;
    margin: 0px 30px 0px 0px;
  }

  @include mq(desktop) {
    width: 300px;
    height: 450px;
    margin: 0px 30px 0px 0px;
  }
}

.film-information {
  @include mq(mobile) {
    width: 240px;
    height: 356px;
    // padding: 0px 20px 0px 20px;
  }

  @include mq(tablet) {
    width: 264px;
    height: 374px;
    margin: 0;
  }

  @include mq(desktop) {
    width: 396px;
    height: 478px;
    margin-right: 30px;
    margin: 0;
  }
}

.film-title {
  font-family: var(--primary-font);
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: uppercase;
  @include mq(mobile) {
    font-size: 20px;
    line-height: 1.15;
  }
  @include mq(tablet) {
    font-size: 20px;
    line-height: 1.15;
  }
  @include mq(desktop) {
    font-size: 30px;
    line-height: 1.17;
  }
}

.film-list {
  margin-bottom: 20px;

  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
}

.film-item {
  display: flex;
  margin-bottom: 10px;
}

.film-details {
  display: flex;
  min-width: 108px;

  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;

  color: #8c8c8c;
}
.original {
  text-transform: uppercase;
}

.film-rating--orange {
  padding-left: 10px;
  padding-right: 10px;
  color: var(--primary-text-color);
  background-color: var(--focus-color);
  border-radius: 5px;

  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
}

.film-rating--divider {
  margin-right: 3px;
}

.film-about-title {
  text-transform: uppercase;
  margin-bottom: 10px;

  font-family: var(--primary-font);

  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
}

.film-about-text {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  margin-bottom: 21px;
  text-align: left;
  margin-right: 5px;
}

.film-button-wrapper {
  display: flex;
  align-items: stretch;

  @include mq(mobile) {
    padding-bottom: 40px;
  }

  @include mq(tablet) {
    padding-bottom: 0px;
  }
}

.film-button {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  margin-right: 5px;

  width: 112px;
  height: 44px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: var(--primary-text-color);
  cursor: pointer;
  border: 1px solid var(--secondary-text-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--focus-color);
    color: var(--primary-text-color);
    border: 1px solid var(--focus-color);
  }
  @include mq(mobile) {
    width: 113px;
  }
  @include mq(tablet) {
    width: 125px;
  }
  @include mq(desktop) {
    width: 136px;
  }
}

.film-button:first-child {
  margin-right: 15px;
}
